<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Image Upload</title>
    <style>
        label{
            display: block;
            margin-bottom: 1rem;
            color: blue;
            font-size: large;
            font-weight: 700;
        }
        .submit{
            padding: 3px;
            background-color: chartreuse;
            border-radius: 12px;
            padding: 6px 12px;
        }
        .submit:hover{
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <form action="http://127.0.0.1:5000/upload" method="post" enctype="multipart/form-data">
        <h1>Test Image Upload</h1>
        <label for="image">Select image</label>
        <input id="image" type="file" name="image">
        <input class="submit" type="submit" value="Upload Image">
    </form>
</body>
</html>