<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elibrary</title>
    <style>
        a{
            padding: 3px 6px;
            background-color: aliceblue;
            border: 1px solid black;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <H1>Selamat Datang!!!</H1>
    <a href="http://127.0.0.1:5000/image-upload">go to upload image page</a>
</body>
</html>