<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjdujPhzHhiApKEnkzl0DNtAWKr6oqmSs</string>
	<key>GCM_SENDER_ID</key>
	<string>1065987171723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileLibrary.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobilelibrary-6856f</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilelibrary-6856f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065987171723:ios:150de8f248677d1792bb8e</string>
	<key>DATABASE_URL</key>
	<string>https://mobilelibrary-6856f-default-rtdb.firebaseio.com</string>
</dict>
</plist>